f-canvas,
f-canvas canvas {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/*scroll-behavior: smooth;*/
	-webkit-touch-callout: none;   
}

f-canvas {
	overflow: auto;
	cursor: grab;
}

f-canvas canvas.front {
	z-index: 10;
}

body.dragging f-canvas,
body.connecting f-canvas {
	overflow: hidden !important;
}

body.dragging *:not(.drag) {
	pointer-events: none !important;
}

f-canvas.grabbing * {
	cursor: grabbing; 
	user-select: none;
}

f-canvas canvas {
	position: fixed;
	overflow: hidden;
	pointer-events: none;
}

f-canvas::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

f-canvas::-webkit-scrollbar-thumb:hover{
	background: #014fc5;
}

f-canvas::-webkit-scrollbar-track {
	background: #363636;
}

f-canvas::-webkit-scrollbar-thumb {
	background-color: #666666;
	border-radius: 10px;
	border: 0;
}

f-canvas f-content,
f-canvas f-area {
	position: absolute;
    display: block;
}

f-node {
	position: absolute;
	margin: 0;
	padding: 0;
	user-select: none;
	width: 320px;
	z-index: 1;
	cursor: auto;
	/*box-shadow: 0 0 8px 5px #00000061;*/
	filter: drop-shadow(0 0 10px #00000061);
	backdrop-filter: blur(4px);
}

f-node.selected {
	z-index: 2;
}

f-node.selected,
f-canvas.dragging-rio f-node:hover,
f-canvas.dragging-lio f-node:hover {
	filter: drop-shadow(0 0 10px #00000061) drop-shadow(0 0 8px #4444dd);
}

f-node.closed f-element:not(:first-child) {
	display: none;
}

f-node.center {
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

f-node.top-right {
	top: 0;
	right: 0;
}

f-node.top-center {
	top: 0;
	left: 50%;
	transform: translateX( -50% );
}

f-node.top-left {
	top: 0;
	left: 0;
}

f-node {
	transition: filter 0.2s ease;
}

@keyframes f-open {

	0% { 
		transform: scale(.5);
		filter: blur(30px);
	}
	
	100% { 
		transform: scale(1);
		filter: unset
	}

}

f-node {
	animation: .2s f-open 1 alternate ease-out;
}

f-menu,
f-menu button,
f-element,
f-element input,
f-element select,
f-element button,
f-element textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	text-transform: capitalize;
	color: #eeeeee;
	outline: solid 0px #000;
	letter-spacing: .2px;
	margin: 0;
	padding: 0;
	border: 0;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition: background 0.2s ease;
}

f-element input {
	transition: background 0.1s ease;
}

f-element input,
f-element select,
f-element button,
f-element textarea {
	background-color: #242427;
}

f-element {
	position: relative;
	width: calc( 100% - 14px );
	background: rgba(45, 45, 48, 0.95);
	pointer-events: auto;
	border-bottom: 2px solid #232323;
	display: flex;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
}

f-element/*.default*/ {
    height: 24px;
}

f-element input {
	margin-top: 2px;
	margin-bottom: 2px;
	box-shadow: inset 0px 1px 1px rgb(0 0 0 / 20%), 0px 1px 0px rgb(255 255 255 / 5%);
	margin-left: 2px;
	margin-right: 2px;
	width: 100%;
	padding-left: 4px;
	padding-right: 4px;
}

f-element input.number {
	cursor: col-resize;
}

f-element input:focus[type='text'], 
f-element input:focus[type='range'], 
f-element input:focus[type='color'] {
    background: rgba( 0, 0, 0, 0.6 );
	outline: solid 1px rgba( 0, 80, 200, 0.98 );
}

f-element input[type='color'] {
	appearance: none;
	padding: 0;
	margin-left: 2px;
	margin-right: 2px;
	height: calc( 100% - 4px );
	margin-top: 2px;
	border: none;	
}

f-element input[type='color']::-webkit-color-swatch-wrapper {
	padding: 2px;
}

f-element input[type='color']::-webkit-color-swatch {
	border: none;
	cursor: alias;
}

f-element input[type='range'] {
	appearance: none;
	width: 100%;
	overflow: hidden;
	padding: 0;
	cursor: ew-resize;
}

f-element input[type='range']::-webkit-slider-runnable-track {
	appearance: none;
    height: 10px;
    color: #13bba4;
	margin: 0;
}

f-element input[type='range']::-webkit-slider-thumb {
	appearance: none;
	width: 0;
    background: #434343;
    box-shadow: -500px 0 0 500px rgba( 0, 120, 255, 0.98 );
    border-radius: 50%;
    border: 0 !important;
}

f-element input[type='range']::-webkit-slider-runnable-track {
	margin-left: -4px;
	margin-right: -5px;
}

f-element input[type='checkbox'] {
	appearance: none;
	cursor: pointer;
}

f-element input[type='checkbox'].toggle {
	height: 20px;
	width: 45px;
	border-radius: 16px;
	display: inline-block;
	position: relative;
	margin: 0;
	margin-top: 2px;
	background: linear-gradient( 0deg, #292929 0%, #0a0a0ac2 100% );
	transition: all 0.2s ease;
}

f-element input[type='checkbox'].toggle:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: white;
	box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
	transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

f-element input[type='checkbox'].toggle:checked {
	background: linear-gradient( 0deg, #0177fb 0%, #0177fb 100% );
}

f-element input[type='checkbox'].toggle:checked:after {
	transform: translatex(25px);
}

f-element.auto-height {
	display: table;
}

f-element textarea {
	width: calc( 100% - 18px );
	padding-top: 1px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 8px;
	margin-top: 2px;
	margin-left: 2px;
	height: calc( 100% - 8px );
	max-height: 300px;
	border-radius: 2px;
	resize: none;
	box-shadow: inset 0px 1px 1px rgb(0 0 0 / 20%), 0px 1px 0px rgb(255 255 255 / 5%);
}

f-element.auto-height textarea {
	resize: auto;
}

f-element select {
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 5px;
	cursor: pointer;
	box-shadow: inset 0px 1px 1px rgb(0 0 0 / 20%), 0px 1px 0px rgb(255 255 255 / 5%);
}

f-element f-toolbar {
	position: absolute;
    display: flex;
    float: right;
    right: 7px;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: end;
	align-content: space-around;
}

f-element f-toolbar {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 3px;
	margin-right: 3px;
	font-size: 18px;
    line-height: 18px;
}

f-element f-toolbar button {
	opacity: .7;
	cursor: pointer;
	font-size: 14px;
	width: unset;
    height: unset;
    border-radius: unset;
    border: unset;
	outline: 0;
	background-color: unset;
	box-shadow: unset;
}

f-element f-toolbar button:hover,
f-element f-toolbar button:active {
	opacity: 1;
	border: 0;
	background-color: unset;
}

f-element input.range-value {
	width: 60px;
	text-align: center;
}

f-menu.context button,
f-element button {
	width: 100%;
	height: calc( 100% - 4px );
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	border-radius: 3px;
	cursor: pointer;
	/*text-transform: uppercase;*/
}

f-element button {
	box-shadow: inset 1px 1px 1px 0 rgb(255 255 255 / 17%), inset -2px -2px 2px 0 rgb(0 0 0 / 26%);
}

f-element button:hover {
	color: #fff;
	background-color: #2a2a2a;
}

f-element button:active {
	/*background: rgba( 0, 0, 0, 0.6 );*/
	border: 1px solid rgba( 0, 120, 255, 0.98 );
}

f-element f-inputs,
f-element f-subinputs {
	display: flex;
	width: 100%;
}

f-element f-inputs {
	left: 100px;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	width: calc( 100% - 106px );
	height: calc( 100% - 4px );
	z-index: 1;
}

f-element f-label,
f-element span {
	margin: auto;
	text-shadow: 1px 1px 0px #0007;
}

f-element f-label {	
	padding-left: 4px;
	white-space: nowrap;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: calc( 100% - 20px );
}

f-element.right f-label {
	text-align: right;
}

f-element f-label i {
	float: left;
	font-size: 18px;
	margin-right: 6px;
}

f-element f-label.center {
	width: 100%;
	text-align: center;
	display: block;
}
/*
f-element f-label.center {
	width: 100%;
	height: 100%;
	position: absolute;
	justify-content: center;
    align-items: center;
    display: flex;
}
*/
f-element.title {
	height: 29px;
	background-color: #3a3a3ab0;
	background-color: #3b3b43ed;
    /*background-color: linear-gradient( rgb(1 119 251), rgba(0, 80, 200, 0.73) );*/
	cursor: all-scroll;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

f-element.blue {
	background-color: #014fc5;
}

f-element.red {
	background-color: #bd0b0b;
}

f-element.green {
	background-color: #148d05;
}

f-element.yellow {
	background-color: #d6b100;
}

f-element.title.left {
	text-align: left;
	display: inline-grid;
	justify-content: start;
}

f-element.title span {
	text-align: center;
	font-size: 15px;
	padding-top: 2px;
}

f-element.title i {
	font-size: 18px;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	opacity: .5;
}

f-element.title.left span {
	text-align: left;
}

f-element f-io {
	border: 2px solid #dadada;
	width: 7px;
	height: 7px;
	position: absolute;
	background: #242427;
	border-radius: 8px;
	float: left;
	left: -7px;
	top: calc( 50% - 5px );
	cursor: alias;
	box-shadow: 0 0 3px 2px #0000005e;
	z-index: 1;
}

f-element f-io.connect,
f-canvas.dragging-rio f-element:hover f-io.lio,
f-canvas.dragging-lio f-element:hover f-io.rio {
	border: 2px solid #0177fb;
	zoom: 1.4;
}

f-node.io-connect f-io:not(.connect) {
	border: 2px solid #dadada !important;
	zoom: 1 !important;
}

f-element f-io.rio {
	float: right;
    right: -7px;
    left: unset;
}

f-element f-disconnect {
	position: absolute;
	right: -35px;
	top: 50%;
	font-size: 22px;
	transform: translateY( -50% );
	filter: drop-shadow(0 0 5px #000);
	text-shadow: 0px 0px 5px black;
	cursor: pointer;
}

f-element f-disconnect:hover {
	color: #ff3300;
}

f-element textarea::-webkit-scrollbar {
	width: 6px;
}

f-element textarea::-webkit-scrollbar-track {
	background: #111; 
}
 
f-element textarea::-webkit-scrollbar-thumb {
	background: #0177fb; 
}

f-element textarea::-webkit-scrollbar-thumb:hover {
	background: #1187ff; 
}

f-element.small {
    height: 18px;
}

f-element.large {
    height: 36px;
}

body.connecting f-node:not(.io-connect) f-element:hover,
f-element.select {
	background-color: rgba(61, 70, 82, 0.98);
}

/* menu */

f-tooltip {
	pointer-events: none;
}

f-menu.context {
	position: absolute;
	width: 170px;
	padding: 2px;
	margin: 0;
	background: #17171794;
	z-index: 110;
	font-size: 12px;
	border-radius: 6px;
	backdrop-filter: blur(6px);
	border: 1px solid #7e7e7e45;
	box-shadow: 3px 3px 6px rgba(0,0,0,.2);
}

f-menu.context.hidden {
	visibility: hidden;
}

f-menu.context f-item {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

f-menu.context f-item.submenu::after {
	content: "";
	position: absolute;
	right: 6px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border: 5px solid transparent;
	border-left-color: #808080;
}

f-menu.context f-item:hover > f-menu {
	visibility: unset;
}

f-menu.context f-menu {
	top: 0px;
	left: calc( 100% - 4px );
}

f-menu.context f-item button {
	overflow: visible;
	display: block;
	width: calc( 100% - 6px );
	text-align: left;
	cursor: pointer;
	white-space: nowrap;
	padding: 6px 8px;
	border-radius: 3px;
	background: #2d2d32;
	border: 0;
	color: #ddd;
	margin: 3px;
	text-shadow: 1px 1px 0px #0007;
}

f-menu.context f-item button i {
	float: left;
	font-size: 16px;
}

f-menu.context f-item button span {
	margin-left: 6px;
}

f-menu.context f-item:hover > button {
	color: #fff;
	background: #313136;
}

f-menu.context f-item button:active {
	outline: solid 1px rgba( 0, 80, 200, 0.98 );
}

/* circle */

f-menu.circle {
	position: absolute;
	left: 30px;
	top: 30px;
	z-index: 100;
}

f-menu.circle f-item {
	display: flex;
	justify-content: end;
    align-content: space-around;
	margin-bottom: 12px;
}

f-menu.circle f-item button {
	width: 50px;
	height: 50px;
	font-size: 26px;
	background: #17171794;
	border-radius: 50%;
	backdrop-filter: blur(6px);
	border: 1px solid #7e7e7e45;
	line-height: 100%;
	cursor: pointer;
	box-shadow: 3px 3px 6px rgba(0,0,0,.2);
}

f-menu.circle f-item f-tooltip {
	position: absolute;
	left: 0;
	top: 0;	
	margin-left: 50px;
	background: rgba(0,0,0,.8);
	backdrop-filter: blur(4px);
	font-size: 14px;
	padding: 7px;
	border-radius: 10px;
	top: 50%;
	transform: translateY(-50%);
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s ease;
}

f-menu.circle f-item button:hover {
	background-color: #2a2a2a;
}

f-menu.circle f-item button:hover > f-tooltip {
	visibility: visible;
	transform: translate(10px, -50%);
	opacity: 1;
}

/* rounded */

.f-rounded f-node f-element,
.f-rounded f-node f-element.title.left {
	border-radius: 10px 5px 10px 5px;
}

.f-rounded f-node f-element input, 
.f-rounded f-node f-element select,
.f-rounded f-node f-element button,
.f-rounded f-node f-element textarea,
.f-rounded f-node f-element input[type='checkbox'].toggle,
.f-rounded f-node f-element input[type='checkbox'].toggle:after {
	border-radius: 20px 10px;
}

.f-rounded f-node f-element input {
	padding-left: 7px;
	padding-right: 7px;
}

.f-rounded f-menu.context,
.f-rounded f-menu.context f-item button {
	border-radius: 20px 10px;
}

/* hover desktop */

@media (hover: hover) and (pointer: fine) {

	f-element f-io:hover {
		border: 2px solid #0177fb;
		zoom: 1.4;
	}

}

/* optimize */

f-canvas {
	will-change: top, left;
}

f-node {
	will-change: transform !important;
}

