html {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  max-height: 150vh;
  padding: 1vw;
}

body {
  background-color: #262626;
  background-image: url(../../media/background.jpg);
}


